@import '../../style/index';
$base-color: #40a9ff;

.#{$prefix}-btn{
    border: 1px solid #d9d9d9;
    background-color: #fff;
    color: rgba(0,0,0,.65);
    padding: 0 15px;
    height: 32px;
    outline: none;
    border-radius: 4px;
    font-weight: normal;
    cursor: pointer;
    transition: all .3s ease-in-out;
    &:hover{
        border-color: $base-color;
        background-color: #fff;
        color: $base-color;
    }

    &-primary{
        border-color: $base-color;
        background-color: $base-color;
        color: #fff;
        &:hover {
            border-color: $base-color;
            background-color: $base-color;
            color: #fff;
            opacity: 0.8;
        }
    }

    &-background-ghost{
        border-color: #fff;
        background-color: transparent !important;
        color: #fff;
    }
    
    &-background-ghost#{&}-primary {
        border-color: $base-color;
        background-color: transparent;
        color: $base-color;
    }

    
}